In [31]:
import pandas as pd

#censuslink url https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?src=bkmk
#state url https://www.factmonster.com/us/postal-information/state-abbreviations-and-state-postal-codes

In [32]:
url = 'https://www.numbeo.com/quality-of-life/region_rankings_current.jsp?region=021'

In [33]:
#scrape and read as pandas df
tables = pd.read_html(url)
tables

[    0                                                  1
 0 NaN  What are you looking for? Cost of Living Crime...,     0      1
 0 NaN  Tweet,     Rank                               City  Quality of Life Index  \
 0    NaN         Raleigh, NC, United States                 231.44
 1    NaN         Madison, WI, United States                 207.66
 2    NaN          Dallas, TX, United States                 201.75
 3    NaN       Charlotte, NC, United States                 199.49
 4    NaN          Austin, TX, United States                 198.62
 5    NaN        Columbus, OH, United States                 197.26
 6    NaN                     Ottawa, Canada                 195.97
 7    NaN        San Jose, CA, United States                 194.77
 8    NaN                   Victoria, Canada                 193.89
 9    NaN       San Diego, CA, United States                 191.81
 10   NaN        Richmond, VA, United States                 191.01
 11   NaN         Seattle, WA, United States                 189.35
 12   NaN        Portland, OR, United States                 188.23
 13   NaN     San Antonio, TX, United States                 188.21
 14   NaN                Quebec City, Canada                 187.93
 15   NaN    Jacksonville, FL, United States                 187.33
 16   NaN                    Calgary, Canada                 187.08
 17   NaN     Kansas City, MO, United States                 184.20
 18   NaN     Saint Louis, MO, United States                 182.11
 19   NaN      Sacramento, CA, United States                 181.96
 20   NaN          Boston, MA, United States                 181.67
 21   NaN      Cincinnati, OH, United States                 180.76
 22   NaN           Tampa, FL, United States                 180.72
 23   NaN     Minneapolis, MN, United States                 179.97
 24   NaN       Nashville, TN, United States                 179.85
 25   NaN         Spokane, WA, United States                 178.16
 26   NaN   San Francisco, CA, United States                 177.55
 27   NaN         Oakland, CA, United States                 177.32
 28   NaN                  Vancouver, Canada                 175.09
 29   NaN                Mississauga, Canada                 174.98
 ..   ...                                ...                    ...
 31   NaN                   Edmonton, Canada                 174.94
 32   NaN         Atlanta, GA, United States                 174.73
 33   NaN                    Kelowna, Canada                 174.62
 34   NaN     Albuquerque, NM, United States                 174.26
 35   NaN  Salt Lake City, UT, United States                 174.20
 36   NaN         Houston, TX, United States                 173.82
 37   NaN          Tucson, AZ, United States                 173.52
 38   NaN       Anchorage, AK, United States                 171.29
 39   NaN      Washington, DC, United States                 170.67
 40   NaN                    Halifax, Canada                 170.09
 41   NaN          Denver, CO, United States                 169.05
 42   NaN       Cleveland, OH, United States                 167.98
 43   NaN         Orlando, FL, United States                 167.97
 44   NaN                   Montreal, Canada                 167.80
 45   NaN       Baltimore, MD, United States                 167.07
 46   NaN        Honolulu, HI, United States                 165.78
 47   NaN                   Hamilton, Canada                 164.85
 48   NaN    Indianapolis, IN, United States                 164.67
 49   NaN       Las Vegas, NV, United States                 163.12
 50   NaN     Los Angeles, CA, United States                 161.77
 51   NaN         Phoenix, AZ, United States                 159.24
 52   NaN         Chicago, IL, United States                 157.77
 53   NaN       Milwaukee, WI, United States                 155.95
 54   NaN           Miami, FL, United States                 153.12
 55   NaN    Philadelphia, PA, United States                 151.32
 56   NaN                     Regina, Canada                 149.85
 57   NaN                    Toronto, Canada                 149.80
 58   NaN                   Winnipeg, Canada                 147.79
 59   NaN        New York, NY, United States                 141.03
 60   NaN         Detroit, MI, United States                 130.11

     Purchasing Power Index  Safety Index  Health Care Index  \
 0                   189.71         70.73              78.10
 1                   135.24         72.77              81.94
 2                   185.66         51.39              67.63
 3                   148.06         56.62              75.66
 4                   155.59         65.31              70.89
 5                   133.77         57.90              75.19
 6                   132.23         75.60              74.99
 7                   173.76         57.44              68.83
 8                    95.53         69.40              71.83
 9                   136.35         63.00              71.33
 10                  116.44         57.43              73.64
 11                  142.10         54.32              72.74
 12                  129.21         52.84              71.17
 13                  135.27         53.64              71.98
 14                  129.47         84.40              67.31
 15                  136.39         42.33              72.56
 16                  140.05         68.27              76.65
 17                  131.35         41.08              77.26
 18                  134.88         32.44              81.23
 19                  128.17         50.00              70.51
 20                  122.78         66.06              75.90
 21                  129.25         51.18              68.50
 22                  121.18         50.49              66.69
 23                  126.05         50.28              79.80
 24                  141.00         53.01              61.14
 25                  107.10         48.00              62.49
 26                  140.88         51.02              71.42
 27                  126.30         35.86              77.73
 28                   97.07         64.20              74.10
 29                  115.25         56.59              67.03
 ..                     ...           ...                ...
 31                  123.58         57.74              78.59
 32                  154.61         37.32              64.48
 33                  104.32         51.57              71.05
 34                  115.92         29.95              69.11
 35                  138.90         73.67              71.14
 36                  155.53         38.67              71.69
 37                  111.10         47.98              60.11
 38                  130.61         41.12              59.85
 39                  137.67         43.28              69.02
 40                   95.01         58.83              71.54
 41                  122.21         58.56              71.48
 42                  105.94         35.31              83.06
 43                  105.04         45.06              62.78
 44                  110.61         69.07              63.93
 45                  125.15         28.92              80.05
 46                  101.47         55.63              70.64
 47                  121.72         50.02              82.69
 48                  113.32         43.27              68.80
 49                  141.64         45.04              55.26
 50                  124.81         63.86              66.90
 51                  138.98         47.06              66.01
 52                  130.08         35.30              68.48
 53                   98.79         34.54              65.62
 54                   92.66         47.71              63.85
 55                  101.26         40.49              72.25
 56                  104.72         44.58              67.86
 57                   86.37         63.86              75.43
 58                  107.47         44.24              67.93
 59                  100.00         57.64              63.95
 60                   90.23         28.06              65.44

     Cost of Living Index  Property Price to Income Ratio  \
 0                  72.73                            2.03
 1                  65.40                            3.22
 2                  66.71                            1.98
 3                  77.10                            2.26
 4                  69.87                            3.77
 5                  68.67                            2.16
 6                  68.14                            4.54
 7                  80.81                            5.89
 8                  69.30                            7.64
 9                  73.10                            5.75
 10                 68.48                            3.17
 11                 85.18                            5.90
 12                 77.95                            4.47
 13                 65.68                            2.26
 14                 64.24                            3.57
 15                 69.01                            1.99
 16                 69.21                            4.77
 17                 68.98                            2.16
 18                 67.51                            2.44
 19                 77.40                            3.69
 20                 86.83                            7.92
 21                 64.94                            2.31
 22                 69.91                            3.09
 23                 76.53                            3.10
 24                 68.79                            2.89
 25                 73.60                            3.15
 26                 89.63                            8.69
 27                 84.98                            6.25
 28                 71.02                           14.37
 29                 66.50                            7.68
 ..                   ...                             ...
 31                 69.58                            3.83
 32                 71.55                            2.76
 33                 66.54                            5.40
 34                 66.70                            3.12
 35                 64.18                            3.77
 36                 64.59                            2.04
 37                 71.50                            2.63
 38                 92.64                            2.61
 39                 90.87                            4.28
 40                 68.84                            6.90
 41                 74.49                            4.81
 42                 72.68                            1.41
 43                 70.75                            3.13
 44                 64.63                            6.87
 45                 75.70                            2.52
 46                 90.75                            8.77
 47                 60.19                            6.25
 48                 68.30                            2.33
 49                 68.32                            2.52
 50                 77.59                            7.16
 51                 66.79                            2.87
 52                 79.40                            3.63
 53                 70.91                            3.19
 54                 78.42                            5.47
 55                 85.15                            3.61
 56                 68.34                            4.80
 57                 81.28                           13.52
 58                 60.80                            4.92
 59                100.00                           11.05
 60                 64.72                            1.67

     Traffic Commute Time Index  Pollution Index  Climate Index
 0                        33.87            19.17          83.88
 1                        23.73            16.77          51.64
 2                        35.30            39.36          81.85
 3                        38.27            25.82          84.05
 4                        34.54            35.93          82.08
 5                        26.16            25.39          71.29
 6                        32.73            17.73          44.46
 7                        35.75            46.48          95.53
 8                        27.50            15.41          92.52
 9                        35.42            36.51          97.08
 10                       20.10            31.14          81.27
 11                       42.71            27.82          91.73
 12                       33.24            28.96          89.56
 13                       28.08            38.25          80.58
 14                       28.61            37.02          47.98
 15                       34.46            30.85          87.81
 16                       32.11            25.52          33.09
 17                       25.65            34.39          75.08
 18                       27.53            33.77          74.75
 19                       25.97            42.46          90.64
 20                       43.59            24.53          71.73
 21                       24.52            40.93          73.24
 22                       36.55            29.32          84.67
 23                       35.53            23.23          49.46
 24                       37.56            39.96          83.02
 25                       24.16            20.17          67.12
 26                       45.90            37.03          97.26
 27                       32.04            35.38          96.40
 28                       36.55            24.18          91.15
 29                       34.06            21.66          58.72
 ..                         ...              ...            ...
 31                       30.38            29.28          32.11
 32                       43.24            44.89          89.73
 33                       30.91            20.53          59.65
 34                       25.77            21.62          67.06
 35                       34.88            61.80          66.52
 36                       41.23            53.70          85.53
 37                       30.81            27.00          72.66
 38                       30.95            17.96          41.61
 39                       41.45            40.14          81.62
 40                       30.00            25.24          58.99
 41                       34.73            40.25          56.28
 42                       34.48            35.59          73.11
 43                       36.88            33.18          87.23
 44                       39.56            31.35          52.37
 45                       32.12            45.61          81.24
 46                       41.00            36.47          95.33
 47                       35.81            48.15          61.06
 48                       30.83            42.82          69.92
 49                       27.54            51.27          57.40
 50                       47.49            60.02          95.50
 51                       32.19            57.85          53.76
 52                       40.86            44.02          66.11
 53                       30.67            32.68          60.96
 54                       43.07            40.59          85.69
 55                       40.38            48.01          77.98
 56                       17.27            38.94          14.28
 57                       43.49            37.85          65.35
 58                       32.10            38.50          24.67
 59                       43.26            55.88          79.66
 60                       47.35            54.56          66.03

 [61 rows x 11 columns]]

In [28]:
# read in only table info
quality_df = tables[2]
quality_df['Rank'] = [x for x in range(1,len(quality_df)+1)]

In [29]:
quality_df.head()

,Rank,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,1,"Raleigh, NC, United States",231.44,189.71,70.73,78.10,72.73,2.03,33.87,19.17,83.88
1,2,"Madison, WI, United States",207.66,135.24,72.77,81.94,65.40,3.22,23.73,16.77,51.64
2,3,"Dallas, TX, United States",201.75,185.66,51.39,67.63,66.71,1.98,35.30,39.36,81.85
3,4,"Charlotte, NC, United States",199.49,148.06,56.62,75.66,77.10,2.26,38.27,25.82,84.05
4,5,"Austin, TX, United States",198.62,155.59,65.31,70.89,69.87,3.77,34.54,35.93,82.08

In [24]:
len(quality_df['Rank'])

61

In [25]:
#rename columns for DB
range(1,len(quality_df))

range(1, 61)

In [26]:
len(quality_df)

61

In [50]:
stateurl='https://www.factmonster.com/us/postal-information/state-abbreviations-and-state-postal-codes'
#scrape and read as pandas df
statedf = pd.read_html(stateurl,header=0)
statedf

[                State Abbreviation Postalcode
 0             Alabama         Ala.         AL
 1              Alaska       Alaska         AK
 2      American Samoa          NaN         AS
 3             Arizona        Ariz.         AZ
 4            Arkansas         Ark.         AR
 5          California       Calif.         CA
 6            Colorado        Colo.         CO
 7         Connecticut        Conn.         CT
 8            Delaware         Del.         DE
 9   Dist. of Columbia         D.C.         DC
 10            Florida         Fla.         FL
 11            Georgia          Ga.         GA
 12               Guam         Guam         GU
 13             Hawaii       Hawaii         HI
 14              Idaho        Idaho         ID
 15           Illinois         Ill.         IL
 16            Indiana         Ind.         IN
 17               Iowa         Iowa         IA
 18             Kansas        Kans.         KS
 19           Kentucky          Ky.         KY
 20          Louisiana          La.         LA
 21              Maine        Maine         ME
 22           Maryland          Md.         MD
 23   Marshall Islands          NaN         MH
 24      Massachusetts        Mass.         MA
 25           Michigan        Mich.         MI
 26         Micronesia          NaN         FM
 27          Minnesota        Minn.         MN
 28        Mississippi        Miss.         MS
 29           Missouri          Mo.         MO
 30            Montana        Mont.         MT
 31           Nebraska        Nebr.         NE
 32             Nevada         Nev.         NV
 33      New Hampshire         N.H.         NH
 34         New Jersey         N.J.         NJ
 35         New Mexico         N.M.         NM
 36           New York         N.Y.         NY
 37     North Carolina         N.C.         NC
 38       North Dakota         N.D.         ND
 39  Northern Marianas          NaN         MP
 40               Ohio         Ohio         OH
 41           Oklahoma        Okla.         OK
 42             Oregon         Ore.         OR
 43              Palau          NaN         PW
 44       Pennsylvania          Pa.         PA
 45        Puerto Rico         P.R.         PR
 46       Rhode Island         R.I.         RI
 47     South Carolina         S.C.         SC
 48       South Dakota         S.D.         SD
 49          Tennessee        Tenn.         TN
 50              Texas         Tex.         TX
 51               Utah         Utah         UT
 52            Vermont          Vt.         VT
 53           Virginia          Va.         VA
 54     Virgin Islands         V.I.         VI
 55         Washington        Wash.         WA
 56      West Virginia        W.Va.         WV
 57          Wisconsin         Wis.         WI
 58            Wyoming         Wyo.         WY]

In [51]:
#convert to df object
state_df = statedf[0]
state_df.head()

            State Abbreviation Postalcode
0         Alabama         Ala.         AL
1          Alaska       Alaska         AK
2  American Samoa          NaN         AS
3         Arizona        Ariz.         AZ
4        Arkansas         Ark.         AR